IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 0
# AllowShortEnumsOnASingleLine: false
# AllowShortFunctionsOnASingleLine: None
# AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: BlockIndent
# BinPackParameters: true