IndentWidth: 4
PointerAlignment: Left
ColumnLimit: 90
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlignAfterOpenBracket: Align
BinPackParameters: true